html {
    width: 100%;
    font-size: 14px
}

body {
    text-align: center;
    width: 100%;
    font-family: "Roboto Mono", Raleway, "Noto Sans", "Segoe UI", Roboto, Helvetica, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    margin: 0;
    /* color: #495057;
    background-color: #fff */
    background-color: #f0f0f0;
            color: #333;
}

a {
    text-decoration: none;
    color: inherit
}

a:hover {
    text-decoration: underline
}

.container {


    max-width: 57rem;
    text-align: left;
    /* max-width: 800px; */
            margin: 20px auto;
            /* padding: 20px; */
            /* background-color: #fff; */
            /* border-radius: 8px; */
            /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.experience a {
    text-decoration: none;
}
.company {
    font-size: 1.1rem;
    font-weight: 500;
}
.location-txt {
    font-size: 1.1rem;
    font-weight: 500;
}
@media screen and (max-width: 48rem) {
    html {
        font-size: 12px
    }

    .container {
        padding-left: .4rem;
        padding-right: .4rem
    }
}

@media print {
    html {
        font-size: 12px
    }

    .print {
        display: none
    }
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid #adb5bd;
    /* padding-top: 2.2rem; */
    padding-bottom: 2.2rem
}

.name-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.title {
    font-size: 2.2rem
}

.sub-title {
    font-size: 1.2rem;
    margin-top: .8rem
}

.contact {
    font-size: 1rem;
    padding-top: 1rem
}

.contact-item {
    margin-top: .4rem
}

.contact-item:nth-child(1) {
    margin-top: 0
}

.contact-item:a {
    color: inherit;
    text-decoration: none
}

@media screen and (max-width: 48rem) {
    header {
        display: block;
        padding-bottom: 1rem
    }

    .name-wrapper {
        text-align: center;
        padding-bottom: 2rem
    }

    .contact {
        padding-top: 1rem;
        border-top: 0.1rem solid #adb5bd
    }

    .contact-item {
        padding-top: .2rem;
        padding-left: .4rem
    }
}

section {
    display: row;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    padding-left: .2rem;
    border-bottom: 0.1rem solid #adb5bd;
    hyphens: auto
}

.section-title {
    font-size: 1.6rem;
    text-align: left;
    min-width: 10rem
}

.section-flex {
    display: flex;
    flex-wrap: wrap
}

.block {
    margin-bottom: 2rem;
    border-radius: 2px;
    border-color: #333;
    background-color: #fff;
    border-radius: 6px;
    /* padding: 4px 18px 18px 20px; */
}

.block:last-child {
    margin-bottom: 0
}

.block-square {
    width: 18rem
}

.block-square:nth-last-child(2) {
    margin-bottom: 0
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
    
    color: indianred;
  }
.right {
    float: right;
}
.up {
transform: rotate(90deg);
}
.block-title {
    color: #646566;
    font-size: 1.2rem;
    margin-bottom: .4rem;
    font-weight: bold;
    padding: 7px 25px 0 0;
    /* background-color: rgb(221, 230, 246); */
    /* padding: 7px 5px; */
}
.my-icon::before {
    content: "favorite"; /* Icon name from Google Fonts */
    color: red; /* Custom icon color */
  }

.block-subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: darkgreen;
    padding-left: 32px;
}
.corp-content{
    padding: 0 5px 4px 32px;
}
.corp-content ul {
    padding-left: 24px;
}
.block-content {
    font-size: 1rem;
    line-height: 1.5
}

@media screen and (max-width: 48rem) {
    section {
        display: block;
        padding-top: 2rem;
        padding-bottom: 2rem
    }

    .section-title {
        text-align: center;
        margin-bottom: 2rem
    }

    .section-flex {
        display: block
    }

    .block-square:nth-last-child(2) {
        margin-bottom: 2rem
    }
    .right {
        display: block;
        float: none;
    }
}

footer {
    color: #adb5bd;
    font-size: 1rem;
    min-height: 3rem;
    line-height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem
}